.navAdmin {
  --navbar-height: 150px;
  --logo-width: 120px;
  --logo-height: 160px;
  --nav1-size: 30px;
  --margin-nav1: 30px;
  --fontsize-nav: 18px;
  --util-width: 40px;
  --margin-top-navig: 66px;
  --navigation-height: 60px;
}
@media screen and (max-width: 1200px) {
  .navAdmin {
    --navbar-height: 150px;
    --logo-width: 120px;
    --logo-height: 160px;
    --nav1-size: 30px;
    --margin-nav1: 30px;
    --fontsize-nav: 18px;
    --util-width: 40px;
    --margin-top-navig: 66px;
    --navigation-height: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .navAdmin {
    --navbar-height: 150px;
    --logo-width: 120px;
    --logo-height: 160px;
    --nav1-size: 30px;
    --margin-nav1: 30px;
    --fontsize-nav: 18px;
    --util-width: 40px;
    --margin-top-navig: 50px;
    --navigation-height: 60px;
  }
}

@media screen and (max-width: 800px) {
  .navAdmin {
    --navbar-height: calc(150px * 0.7);
    --logo-width: calc(120px * 0.7);
    --logo-height: 110px;
    --nav1-size: 20px;
    --margin-nav1: 20px;
    --fontsize-nav: 11px;
    --util-width: 40px;
    --margin-top-navig: 50px;
    --navigation-height: 60px;
  }
}

@media screen and (max-width: 600px) {
  .navAdmin {
    --navbar-height: calc(150px * 0.7);
    --logo-width: calc(120px * 0.5);
    --logo-height: 80px;
    --nav1-size: 20px;
    --margin-nav1: 10px;
    --fontsize-nav: 11px;
    --util-width: 30px;
    --margin-top-navig: 50px;
    --navigation-height: 60px;
  }
}

@media screen and (max-width: 400px) {
  .navAdmin {
    --navbar-height: calc(150px * 0.7);
    --logo-width: calc(120px * 0.4);
    --logo-height: 40px;
    --nav1-size: 15px;
    --margin-nav1: 13px;
    --fontsize-nav: 11px;
    --util-width: 30px;
    --margin-top-navig: 50px;
    --navigation-height: 30px;
  }
}
@media screen and (max-width: 300px) {
  .navAdmin {
    --navbar-height: calc(150px * 0.6);
    --logo-width: calc(120px * 0.3);
    --logo-height: 40px;
    --nav1-size: 17px;
    --margin-nav1: 12px;
    --fontsize-nav: 11px;
    --util-width: 22px;
    --margin-top-navig: 0px;
  }
}
.navAdmin {
  height: var(--navbar-height);
  margin-top: 0px;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #f5e8c9;
  border-bottom: #000000 solid 2px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
.navAdmin .nav {
  margin-top: 0px;
}
.navAdmin .nav .logos {
  top: 0px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 0px;
}
.navAdmin .profile {
  height: 60px;
  background-color: #f5e8c9;
}

.navAdmin .profile .util {
  float: right;
  margin: 20px;
  width: var(--util-width);
  height: var(--util-width);
  border: 1px solid black;
  border-radius: 1000px;
  background-color: #7cf9f2;
  color: #000000;
  flex-shrink: 0;
}
.navAdmin .nav .logos .name {
  width: var(--logo-width);
  height: var(--logo-height);
}
.navAdmin .nav .logos .logo {
  width: var(--logo-width);
  height: var(--logo-height);
}
.navAdmin .profile .navigation {
  margin-top: var(--margin-top-navig);
  height: var(--navigation-height);
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navAdmin .profile .navigation i {
  margin-left: var(--margin-nav1);
  margin-right: var(--margin-nav1);
  margin-bottom: 0px;
  font-size: var(--nav1-size);
}
.navAdmin .profile .navigation .favori,
.navAdmin .acceuil,
.navAdmin .offre,
.navAdmin .quit {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.navAdmin .profile .navigation .favori,
.navAdmin .acceuil,
.navAdmin .offre,
.navAdmin .quit i {
  margin-bottom: 0px;
}
.navAdmin .profile .navigation .favori,
.navAdmin .acceuil,
.navAdmin .offre,
.navAdmin .quit span {
  margin-top: 0px;
  font-size: var(--fontsize-nav);
}
.navAdmin .profile .navigation div:hover {
  filter: invert(1);
  cursor: pointer;
}
.navAdmin img:hover {
  filter: brightness(2);
  transform: scale(1.07);
  transition: all 0.1s linear;
  cursor: pointer;
}
.welcomeAdmin {
  flex-shrink: 0;
  background: #f5e8c9;
  width: 100%;
  margin-top: 153px;
}
.welcomeAdmin .bonjourUser {
  color: #000;
  text-align: center;
  font-family: Advent Pro;
  font-size: 30px;
  height: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
}



